* {
	box-sizing: border-box;
}

*:after,
*:before {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1440px;
	padding: 0 20px;
	margin: 0 auto;
}

.container--services {
	max-width: 1360px;
}

.container--about {
	max-width: 960px;
}

.container--contact {
	max-width: 1110px;
}

.container--header {
	max-width: 1320px;
}

body {
	position: relative;
	overflow-x: hidden;
	background-color: #fff;
	color: #3D4048;
	margin: 0;
	padding: 0px;
	font-family: SFPro, sans-serif;
}

.btn {
	cursor: pointer;
	display: block;
	max-width: 214px;
	width: 100%;
	font-size: 16px;
	line-height: 1.2;
	color: #FFF;
	text-align: center;
	background-color: #003A7A;
	border: none;
	outline: none;
	padding: 15px 10px;
	margin: 0 auto;
	transition: 0.25s background-color;
	font-family: SFPro, sans-serif;
}

.btn:disabled {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.btn:hover:not(:disabled) {
	background-color: #002f61;
}

.error {
	font-size: 16px;
	color: #9c0000;
	margin-bottom: 8px;
	font-weight: 700;
}

.title {
	position: relative;
	font-size: 64px;
	color: #003A7A;
	text-align: center;
	margin-bottom: 70px;
	font-weight: 900;
}

.title.right-dark:after {
	position: absolute;
	top: 50%;
	content: '';
	width: 20px;
	height: 20px;
	transform: scale(-1, 1) translateY(-50%);
	margin-left: 24px;
	background-image: url(../img/icons/arrow-dark.svg);
}

.title.left-dark:before {
	position: absolute;
	top: 50%;
	content: '';
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	margin-left: -48px;
	background-image: url(../img/icons/arrow-dark.svg);
}

.input {
	display: block;
	width: calc(100% - 20px);
	border: none;
	font-size: 16px;
	color: #000;
	padding-left: 14px;
	font-weight: 400;
	font-family: SFPro, sans-serif;
}

.input--area {
	min-height: 200px;
	resize: none;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

fieldset,
img,
abbr {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
}

legend {
	color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

.main-header {
	display: flex;
	align-items: center;
	padding-top: 42px;
	padding-bottom: 200px;
}

.main-header__logo {
	max-width: 130px;
	width: 100%;
}

.main-header__logo img {
	display: block;
	max-width: 100%;
}

.main-header__block {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.main-header__block:after {
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	left: 170px;
	width: calc(100% - 170px - 376px);
	height: 4px;
	background-color: rgba(255, 255, 255, 0.1);
}

.main-header__list {
	display: flex;
	align-items: center;
}

.main-header__list li:not(:last-child) {
	margin-right: 60px;
}

.main-header__link {
	font-size: 20px;
	color: #fff;
	transition: 0.25s color;
}

.main-header__link:hover {
	color: rgba(255, 255, 255, 0.7);
}

.mobile-wrap {
	display: none;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #fff;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #fff;
	left: 0;
	transition: 0.5s;
}

.line-burger:after {
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	transform: rotate(45deg);
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -3px;
}

.preview {
	position: relative;
	background-image: url(../img/bg-preview.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-bottom: 424px;
	max-width: 1920px;
	margin: 0 auto;
}

.preview:before {
	position: absolute;
	content: '';
	z-index: -1;
	right: 0;
	top: 0;
	width: 100%;
	height: 1408px;
	background-image: url(../img/bg-decor.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.preview__holder {
	position: relative;
	max-width: 1260px;
	margin: 0 auto;
}

.preview__decor-1,
.preview__decor-2 {
	position: absolute;
	content: '';
}

.preview__decor-1 {
	bottom: 140px;
	left: 0;
}

.preview__decor-2 {
	top: 150px;
	right: -150px;
}

.preview__title {
	position: relative;
	font-size: 96px;
	color: #FFF;
	text-align: center;
	margin-bottom: 75px;
	font-weight: 900;
}

.preview__title:after,
.preview__title:before {
	position: absolute;
	content: '';
	background-image: url(../img/icons/arrow-light.svg);
	width: 20px;
	height: 20px;
}

.preview__title:after {
	top: 0;
	transform: scale(-1, 1);
	margin-left: 24px;
}

.preview__title:before {
	top: calc(100% - 20px);
	width: 20px;
	height: 20px;
	margin-left: -48px;
}

.preview__text {
	font-size: 36px;
	line-height: 1.5;
	text-align: center;
	color: #FFF;
	padding-bottom: 70px;
}

.preview__elem {
	font-size: 64px;
	color: #D5E4EB;
	text-align: center;
	margin-bottom: 190px;
	font-weight: 900;
}

.preview__btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 120px;
	border-radius: 30px;
	background-color: #FFF;
	border: none;
	margin: 0 auto;
}

.about {
	position: relative;
	z-index: 2;
	margin-top: -320px;
	margin-bottom: 80px;
}

.about__wrap {
	position: relative;
}

.about__wrap:before {
	position: absolute;
	content: '';
	top: -20px;
	right: -244px;
	width: 150px;
	height: 150px;
	border: 1px solid rgba(0, 58, 122, 0.3);
	border-radius: 50%;
}

.about__text p {
	font-size: 18px;
	line-height: 2;
	color: #333;
	text-align: justify;
}

.about__decor {
	position: absolute;
	right: -168px;
	bottom: -82px;
	max-width: 84px;
}

.about__decor svg {
	display: block;
	max-width: 100%;
}

.services__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.services__item {
	width: calc(100% / 4 - 40px);
	position: relative;
	border-radius: 15px;
	background-color: #D5E4EB;
	padding: 40px 24px;
	margin: 0 20px;
	margin-bottom: 80px;
}

.services__item:after,
.services__item:before {
	position: absolute;
	content: '';
	left: 10px;
	width: calc(100% - 20px);
	height: 20px;
	background: #C5D1D6;
}

.services__item:after {
	top: -20px;
	border-radius: 15px 15px 0 0;
}

.services__item:before {
	bottom: -20px;
	border-radius: 0 0 15px 15px;
}

.services__image {
	width: 128px;
	height: 128px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.services__title {
	font-size: 20px;
	color: #003A7A;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 900;
}

.services__text p {
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	text-align: center;
}

.contacts {
	position: relative;
	margin-top: -180px;
	padding-top: 328px;
	padding-bottom: 634px;
}

.contacts:after {
	position: absolute;
	content: 'CONTACT US';
	z-index: -1;
	top: 30%;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 15vw;
	color: transparent;
	-webkit-text-stroke: 1px rgba(213, 228, 235, 0.5);
	font-weight: 900;
}

.contacts__title {
	position: relative;
	font-size: 16px;
	color: #003A7A;
	text-align: center;
	margin-bottom: 36px;
	font-weight: 700;
}

.contacts__title:after {
	position: absolute;
	top: 50%;
	content: '';
	width: 20px;
	height: 20px;
	transform: scale(-1, 1) translateY(-50%);
	margin-left: 24px;
	background-image: url(../img/icons/arrow-dark.svg);
}

.contacts__title:before {
	position: absolute;
	top: 50%;
	content: '';
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	margin-left: -48px;
	background-image: url(../img/icons/arrow-dark.svg);
}

.contacts__bg {
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contacts__bg svg {
	display: block;
	width: 100%;
	height: 100%;
}

.contacts__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.contacts__item {
	width: calc(100% / 2 - 40px);
	display: flex;
	border-radius: 3px;
	border: 2px solid #D5E4EB;
	background-color: #FFF;
	padding: 14px 15px;
	margin: 0 20px;
	margin-bottom: 40px;
}

.contacts__item--area {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.contacts__label {
	display: flex;
	align-items: center;
	width: 20px;
}

.contacts__label img {
	display: block;
	max-width: 100%;
}

.info {
	margin-top: -440px;
	margin-bottom: 120px;
}

.info__holder {
	position: relative;
}

.info__decor {
	position: absolute;
	pointer-events: none;
	top: -382px;
	right: -50px;
	width: 50%;
}

.info__decor svg {
	display: block;
	max-width: 100%;
}

.info__item {
	display: flex;
	flex-wrap: wrap;
}

.info__item:nth-child(even) .info__box:last-child {
	order: -1;
}

.info__item:first-child .info__box:last-child {
	background-color: transparent;
}

.info__item:first-child .info__box:first-child img {
	border-bottom: 20px solid #003A7A;
}

.info__item:last-child .info__box:first-child {
	background-color: transparent;
}

.info__item:nth-child(4n+1) .info__box:first-child {
	position: relative;
}

.info__item:nth-child(4n+1) .info__box:first-child:after {
	position: absolute;
	content: '';
	bottom: -270px;
	left: -260px;
	width: calc(100% + 260px);
	height: 717px;
	background-image: url(../img/info-1.svg);
	background-repeat: no-repeat;
}

.info__item:nth-child(4n+3) .info__box:last-child {
	position: relative;
}

.info__item:nth-child(4n+3) .info__box:last-child:after {
	position: absolute;
	content: '';
	z-index: 2;
	top: -550px;
	right: -75px;
	width: calc(100% + 55px);
	height: 954px;
	background-image: url(../img/info-2.svg);
	background-repeat: no-repeat;
	background-position: right center;
}

.info__item:nth-child(4n+4) .info__box:last-child {
	position: relative;
}

.info__item:nth-child(4n+4) .info__box:last-child:after {
	position: absolute;
	content: '';
	z-index: 2;
	top: -540px;
	left: -125px;
	width: 732px;
	height: 777px;
	background-image: url(../img/info-3.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.info__box {
	width: 50%;
	background-color: #F8FAFB;
}

.info__box:first-child {
	padding-bottom: 318px;
}

.info__box:last-child {
	padding-top: 318px;
}

.info__box img {
	display: block;
	max-width: 100%;
}

.info__content {
	background-color: #D5E4EB;
	padding: 40px;
}

.info__text {
	padding-bottom: 50px;
}

.info__text p {
	font-size: 18px;
	line-height: 2;
	color: #333;
	text-align: justify;
}

.info__text p:not(:last-child) {
	padding-bottom: 2em;
}

.info__title {
	position: relative;
	font-size: 64px;
	color: #003A7A;
	padding-bottom: 12px;
	font-weight: 900;
}

.footer {
	padding-top: 110px;
	padding-bottom: 40px;
	position: relative;
}

.footer__bg {
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer__bg svg {
	display: block;
	width: 100%;
	height: 100%;
}

.footer__holder {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__list {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.footer__list li:not(:last-child) {
	margin-right: 70px;
}

.footer__link {
	font-size: 20px;
	color: #003A7A;
	transition: 0.25s color;
}

.footer__link:hover {
	color: rgba(0, 58, 122, 0.7);
}

.footer__logo {
	max-width: 130px;
	margin-bottom: 40px;
}

.footer__logo img {
	display: block;
	max-width: 100%;
}

.footer__text {
	font-size: 14px;
	color: #333;
	text-align: center;
}

@media screen and (max-width: 1550px) {

.preview__decor-2 {
	right: 0;
}

.info__decor {
	right: 0;
}

.info__item:nth-child(4n+1) .info__box:first-child:after {
	width: 100%;
	left: 0;
}

.info__item:nth-child(4n+3) .info__box:last-child:after {
	width: 100%;
	right: 0;
}

.info__item:nth-child(4n+4) .info__box:last-child:after {
	width: 100%;
	left: 0;
}

}

@media screen and (max-width: 1430px) {

.about__wrap:before {
	right: -150px;
}

.info__item:nth-child(4n+4) .info__box:last-child:after {
	background-position: right center;
}

}

@media screen and (max-width: 1290px) {

.about__decor {
	right: -140px;
}

.info__item:nth-child(4n+1) .info__box:first-child:after {
	background-position: center;
}

}

@media screen and (max-width: 1249px) {

.preview:before {
	height: 94%;
}

.preview__title {
	font-size: 83px;
}

.about__wrap:before {
	right: 0;
}

.about__decor {
	display: none;
}

.info__decor {
	top: -322px;
}

}

@media screen and (max-width: 1150px) {

.preview__decor-2 {
	top: 264px;
}

.preview__title {
	font-size: 76px;
}

}

@media screen and (max-width: 1023px) {

.title {
	font-size: 42px;
	margin-bottom: 60px;
}

.main-header {
	padding-bottom: 140px;
}

.main-header__block:after {
	width: calc(100% - 170px - 294px);
}

.main-header__list li:not(:last-child) {
	margin-right: 30px;
}

.main-header__link {
	font-size: 18px;
}

.preview:before {
	display: none;
}

.preview__title {
	font-size: 70px;
}

.preview__title {
	font-size: 62px;
}

.about {
	margin-top: -200px;
}

.about__wrap:before {
	display: none;
}

.services__wrap {
	margin: 0;
}

.services__item {
	width: calc(100% / 2 - 40px);
}

.services__item {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.services__text p {
	line-height: 1.8;
}

.contacts {
	padding-top: 128px;
	padding-bottom: 134px;
	margin-top: -80px;
}

.info {
	margin-top: -80px;
}

.info__decor {
	display: none;
}

.info__item:nth-child(even) .info__box:last-child {
	order: 1;
}

.info__item:nth-child(4n+1) .info__box:first-child:after {
	display: none;
}

.info__item:nth-child(4n+3) .info__box:last-child:after {
	display: none;
}

.info__item:nth-child(4n+4) .info__box:last-child:after {
	display: none;
}

.info__box {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.info__box:first-child {
	padding-bottom: 0;
}

.info__box:last-child {
	padding-top: 0;
}

.info__box img {
	margin: 0 auto;
}

.info__title {
	font-size: 42px;
}

.footer__list li:not(:last-child) {
	margin-right: 40px;
}

.footer__link {
	font-size: 18px;
}

}

@media screen and (max-width: 960px) {

.preview__decor-1,
.preview__decor-2 {
	display: none;
}

}

@media screen and (max-width: 840px) {

.main-header__list li:not(:last-child) {
	margin-right: 20px;
}

.preview {
	background-size: cover;
	padding-bottom: 324px;
}

.preview__title {
	font-size: 56px;
}

.preview__title {
	font-size: 37px;
}

.preview__text {
	font-size: 28px;
	padding-bottom: 50px;
}

.preview__elem {
	margin-bottom: 100px;
}

.about {
	margin-top: -186px;
}

}

@media screen and (max-width: 767px) {

.title {
	font-size: 28px;
	margin-bottom: 40px;
}

.main-header {
	padding-bottom: 80px;
}

.main-header__block:after {
	display: none;
}

.main-header__link {
	font-size: 16px;
}

.preview__title {
	margin-bottom: 45px;
}

.preview__elem {
	font-size: 35px;
	margin-bottom: 80px;
}

.about__text p {
	font-size: 16px;
}

.contacts__wrap {
	margin: 0;
}

.contacts__item {
	width: 100%;
	margin: 0;
	margin-bottom: 40px;
}

.info__content {
	padding: 30px 20px;
}

.info__text p {
	font-size: 16px;
}

.info__title {
	font-size: 28px;
}

.footer {
	padding-top: 70px;
}

.footer__list li:not(:last-child) {
	margin-right: 30px;
}

.footer__link {
	font-size: 16px;
}

}

@media screen and (max-width: 560px) {

.preview__title:after,
.preview__title:before {
	display: none;
}

.preview__text {
	font-size: 20px;
	padding-bottom: 50px;
}

}

@media screen and (max-width: 480px) {

.main-header__list {
	display: none;
	width: calc(100% + 40px);
	top: 100%;
	left: -20px;
	right: 0px;
	z-index: 3;
	position: absolute;
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
	padding: 15px 20px;
}

.mobile-wrap {
	display: flex;
	width: 100%;
	padding: 7px 0px;
}

.main-nav__toggle {
	display: block;
}

.footer__holder {
	flex-direction: column;
}

.footer__list {
	margin-bottom: 30px;
}

.footer__logo {
	order: -1;
	margin-bottom: 30px;
}

}

@media screen and (max-height: 990px) {

.preview__decor-1 {
	bottom: 60px;
}

.preview__elem {
	margin-bottom: 100px;
}

}

