@import 'responsive.sсss';

.main-header {
    display: flex;
    align-items: center;
    padding-top: 42px;  
    padding-bottom: 200px;  
    @include media(mdx) {
        padding-bottom: 140px;  
    }
    @include media(sm) {
        padding-bottom: 80px;  
    }
    &__logo {
        max-width: 130px;
        width: 100%;  
        img {
            display: block;
            max-width: 100%;
        }     
    }
	&__block {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center; 
        &:after {
            position: absolute;
            content: '';
            top: 50%;
            transform: translateY(-50%);
            left: 170px;
            width: calc(100% - 170px - 376px);
            height: 4px;
            background-color: rgba(255, 255, 255, 0.10);
            @include media(mdx) {
                width: calc(100% - 170px - 294px);
            }
            @include media(sm) {
               display: none;
            }
        }
    }
       
    &__list {
        display: flex;
        align-items: center;
         @include media(xxs) {
            display: none;
            width: calc(100% + 40px);
            top: 100%;
            left: -20px;
            right: 0px;
            z-index: 3;
            position: absolute;
            max-height: calc(100vh - 70px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 15px 20px;
        }
        li {
            &:not(:last-child) {
                margin-right: 60px;
                @include media(mdx) {
                    margin-right: 30px;
                }
                @include media(smdx) {
                    margin-right: 20px;
                }
            }
        }
    }

    &__link {
        font-size: 20px;
        color: #fff;
        transition: 0.25s color;
        &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
        @include media(mdx) {
            font-size: 18px;
        }
        @include media(sm) {
            font-size: 16px;
        }
    }
 }       


.mobile-wrap {
    display: none;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    @include media(xxs) {
        display: flex;
        width: 100%;
        padding: 7px 0px;
    }
}
   

.line-burger {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: 0.5s width;
    &:after,
    &:before {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background-color: #fff;
        left: 0;
        transition: 0.5s;
    }
    &:after {
        top: calc(100% + 5px);
    }
    &:before {
        bottom: calc(100% + 5px);
    }
}
   

.line-active {
    width: 0;
    &:after {
        top: 9px;
        transform: rotate(-45deg);
        transform-origin: 0 0;
    }
    &:before {
        bottom: 9px;
        transform: rotate(45deg);
        transform-origin: 0 100%;
    }
        
}
    

.main-nav__toggle {
    position: relative;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
    margin-top: -3px;
    @include media(xxs) {
        display: block;
    }
}
  
